body {
  background-color: cadetblue;
}

#header-img {
  width: 70px;
  margin-left: 50px;
  margin-right: -300px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: relative;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffff;
}

.parrafo {
  margin-top: 80px;
  padding: 10px;
}

.parrafo p {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.parrafo h1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.imagen {
  width: 20%;
  margin-top: 20px;
}

iframe {
  width: 40%;
  margin-top: 50px;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin-left: 30px;
  margin-top: 90px;
  margin-bottom: 30px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

/*responsive*/

@media screen and (max-width: 900px) {
  .tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
  }
  .imagen {
    width: 50%;
  }
  iframe {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  iframe {
    width: 70%;
  }
  .imagen {
    width: 50%;
  }
}
